In [3]:
%pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/jupyter-kilian/.local/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: openpyxl in /home/jupyter-kilian/.local/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/tljh/user/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/jupyter-kilian/.local/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /home/jupyter-kilian/.local/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /home/jupyter-kilian/.local/lib/python3.9/site-packages (from pandas) (1.24.3)
Requirement already satisfied: et-xmlfile in /home/jupyter-kilian/.local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/tljh/user/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pickle

import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel("dl_st_2022_beschwerde.xlsx", sheet_name="Kranken")\
       .dropna()\
       .astype({"Reg-Nr.": int, "Beschwerden": int})

Streiche Krankenkassen ohne Bestandsdaten:

In [6]:
df = df[df["Reg-Nr."] < 5000].astype({"Bestand": int, "Name": str})

In [7]:
df.columns

Index(['Reg-Nr.', 'Name', 'Bestand', 'Beschwerden'], dtype='object')

In [8]:
df.dtypes

Reg-Nr.         int64
Name           object
Bestand         int64
Beschwerden     int64
dtype: object

In [9]:
df.head()

   Reg-Nr.                  Name  Bestand  Beschwerden
1     4001  CONTINENTALE KRANKEN  1308630           26
2     4002  SIGNAL IDUNA KRANKEN  2502385           29
3     4004   GENERALI KRANKEN AG  1799563           57
4     4011    LANDESKRANKENHILFE   329419           15
5     4028        DEBEKA KRANKEN  4224598          124

## Konvertiere in Dictionary-Format

In [10]:
daten = {k: np.array(v) for k, v in df.to_dict(orient="list").items()}

In [11]:
daten

{'Reg-Nr.': array([4001, 4002, 4004, 4011, 4028, 4034, 4037, 4039, 4043, 4044, 4045,
        4095, 4108, 4109, 4112, 4116, 4117, 4118, 4119, 4121, 4125, 4126,
        4131, 4134, 4139, 4142, 4143, 4144, 4145, 4146, 4147]),
 'Name': array(['CONTINENTALE KRANKEN', 'SIGNAL IDUNA KRANKEN',
        'GENERALI KRANKEN AG', 'LANDESKRANKENHILFE', 'DEBEKA KRANKEN',
        'ALLIANZ PRIV.KV ', 'MÜNCHEN.VEREIN KV', 'SÜDDEUTSCHE KRANKEN',
        'HALLESCHE KRANKEN', 'DKV AG', 'UNIVERSA KRANKEN', 'AXA KRANKEN',
        'UNION KRANKENVERS.', 'LVM KRANKEN', 'ARAG KRANKEN', 'R+V KRANKEN',
        'HUK-COBURG KRANKEN', 'CONCORDIA KRANKEN', 'GOTHAER KV AG',
        'ENVIVAS KRANKEN', 'NÜRNBG. KRANKEN', 'ERGO KRANKEN',
        'DEVK KRANKENVERS.-AG', 'BAYERISCHE BEAMTEN K', 'WÜRTT. KRANKEN',
        'ALTE OLDENBURGER AG', 'VRK KV AG', 'HANSEMERKUR KV AG',
        'INTER KV AG', 'OTTONOVA KRANKEN', 'BARMENIA KV AG'], dtype='<U20'),
 'Bestand': array([1308630, 2502385, 1799563,  329419, 4224598, 2794821,  453955,
         639245,  852211, 4310059,  361351, 1734263, 1358641,  409228,
         704413, 1468557, 1139380,  126135,  695617,  437498,  371417,
        1772507,  472852, 1146039,  468065,  157672,  166326, 1574466,
         388537,   26122, 1803967]),
 'Beschwerden': array([ 26,  29,  57,  15, 124,  38,  20,  21,  30,  67,  10,  73,  11,
          4,  19,  10,  22,   3,  18,   2,   7,  12,   2,  17,   1,   1,
          3,  18,  25,   3,  44])}

In [12]:
with open("beschwerdestatistik_pkv.pickle", "wb") as f:
    pickle.dump(daten, f)

In [13]:
with open("beschwerdestatistik_pkv.pickle", "rb") as f:
    geladen = pickle.load(f)

In [14]:
geladen

{'Reg-Nr.': array([4001, 4002, 4004, 4011, 4028, 4034, 4037, 4039, 4043, 4044, 4045,
        4095, 4108, 4109, 4112, 4116, 4117, 4118, 4119, 4121, 4125, 4126,
        4131, 4134, 4139, 4142, 4143, 4144, 4145, 4146, 4147]),
 'Name': array(['CONTINENTALE KRANKEN', 'SIGNAL IDUNA KRANKEN',
        'GENERALI KRANKEN AG', 'LANDESKRANKENHILFE', 'DEBEKA KRANKEN',
        'ALLIANZ PRIV.KV ', 'MÜNCHEN.VEREIN KV', 'SÜDDEUTSCHE KRANKEN',
        'HALLESCHE KRANKEN', 'DKV AG', 'UNIVERSA KRANKEN', 'AXA KRANKEN',
        'UNION KRANKENVERS.', 'LVM KRANKEN', 'ARAG KRANKEN', 'R+V KRANKEN',
        'HUK-COBURG KRANKEN', 'CONCORDIA KRANKEN', 'GOTHAER KV AG',
        'ENVIVAS KRANKEN', 'NÜRNBG. KRANKEN', 'ERGO KRANKEN',
        'DEVK KRANKENVERS.-AG', 'BAYERISCHE BEAMTEN K', 'WÜRTT. KRANKEN',
        'ALTE OLDENBURGER AG', 'VRK KV AG', 'HANSEMERKUR KV AG',
        'INTER KV AG', 'OTTONOVA KRANKEN', 'BARMENIA KV AG'], dtype='<U20'),
 'Bestand': array([1308630, 2502385, 1799563,  329419, 4224598, 2794821,  453955,
         639245,  852211, 4310059,  361351, 1734263, 1358641,  409228,
         704413, 1468557, 1139380,  126135,  695617,  437498,  371417,
        1772507,  472852, 1146039,  468065,  157672,  166326, 1574466,
         388537,   26122, 1803967]),
 'Beschwerden': array([ 26,  29,  57,  15, 124,  38,  20,  21,  30,  67,  10,  73,  11,
          4,  19,  10,  22,   3,  18,   2,   7,  12,   2,  17,   1,   1,
          3,  18,  25,   3,  44])}

## Kombinierte Tabelle

In [29]:
df1 = pd.read_excel("dl_st_2022_beschwerde.xlsx", sheet_name="Kranken")\
       .dropna()\
       .astype({"Reg-Nr.": int, "Beschwerden": int})
df1 = df1[df1["Reg-Nr."] < 5000].astype({"Bestand": int, "Name": str})
df1["Typ"] = "Kranken"

In [30]:
df2 = pd.read_excel("dl_st_2022_beschwerde.xlsx", sheet_name="Leben ")\
       .dropna()\
       .astype({"Reg-Nr.": int, "Beschwerden": int})
df2 = df2[df2["Bestand"] != "k.A."].astype({"Bestand": int, "Name": str})
df2["Typ"] = "Leben"

In [31]:
df3 = pd.read_excel("dl_st_2022_beschwerde.xlsx", sheet_name="Unfall")\
       .dropna()\
       .astype({"Reg-Nr.": int, "Beschwerden": int})
df3 = df3[df3["Bestand"] != "k.A."].astype({"Bestand": int, "Name": str})
df3["Typ"] = "Unfall"

In [40]:
df_full = pd.concat([df1, df2, df3])
df_full = df_full.iloc[np.random.permutation(len(df_full))].reset_index().drop(columns=["index"])

In [41]:
df_full.head()

   Reg-Nr.               Name  Bestand  Beschwerden      Typ
0     1005       WÜRTT. LEBEN  1857875            4    Leben
1     1048    SIGNAL IDUNA LV  1504438           11    Leben
2     4037  MÜNCHEN.VEREIN KV   453955           20  Kranken
3     4126       ERGO KRANKEN  1772507           12  Kranken
4     4145        INTER KV AG   388537           25  Kranken

In [42]:
df_full.dtypes

Reg-Nr.         int64
Name           object
Bestand         int64
Beschwerden     int64
Typ            object
dtype: object

In [45]:
df_full.to_excel("beschwerdestatistik_reduziert.xlsx", index=False)

In [46]:
df_full.to_csv("beschwerdestatistik_reduziert.csv", index=False)